@using Helper;
@model PreShop.FrontEnd.Models.Custom.ProductModel

<!--single product wrapper start-->
<div class="single_product_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="product_gallery">
                    <div class="tab-content product-details-large">
                        @{
                            var Images = Model.GetProductImages(Model.ProductID);
                            string activeImage, ImageId = "", ActiveNav = "";
                        }
                        @foreach (var image in Images)
                        {
                            activeImage = (image.IsDefault.ToBoolean() ? "show active" : "");
                            ImageId = (image.IsDefault.ToBoolean() ? "pImg_" + Model.ProductID : "p0");
                            <div class="tab-pane fade @activeImage" id="tab_@image.Id" role="tabpanel">
                                <div class="modal_tab_img">
                                    <a href="#"><img id="@ImageId" src="@PreShop.Common.StoreHostName@image.ImageUrl" alt="" onerror="this.src='/assets/img/product/product18.jpg'"></a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal_tab_button">
                        <ul class="nav product_navactive owl-carousel" role="tablist">
                            @foreach (var image in Images)
                            {
                                ActiveNav = (image.IsDefault.ToBoolean() ? "active" : "");
                                <li>
                                    <a class="nav-link @ActiveNav" data-toggle="tab" href="#tab_@image.Id" role="tab" aria-controls="tab_@image.Id" aria-selected="false">
                                        <img style="height: 155px!important;" src="@PreShop.Common.StoreHostName@image.ImageUrl" alt="" onerror="this.src='/assets/img/product/product18.jpg'">
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-7 col-md-6">
                <div class="product_details">
                    <h3>@Model.Product</h3>
                    <div class="product_price">
                        @{
                            string unit = !Model.Unit.IsNull() ? "/" + Model.Unit : "";
                        }
                        <span class="current_price">@Helper.SpartansHelper.FormatCurrencyDisplay(Model.Price.ToString())@unit</span>
                        @*<span class="old_price">$28.00</span>*@
                    </div>
                    <div class="product_ratting">
                        <div id="ratingstarsProductDetail_@Model.ProductID"></div>
                    </div>
                    <div class="product_description">
                        <p>@Html.Raw(Model.Description)</p>
                    </div>
                    <div class="product_details_action">
                        @{
                            string showCart = !Model.IsBooking ? "hidden" : "visible";
                            string HaveSize = !Model.HaveSize ? "none" : "block";
                            string IsColor = (Model.IsColor == 1 && HaveSize.Contains("none")) ? "block" : "none";
                            var Sizes = Model.GetProductSizes(Model.ProductID);
                            var Colors = Model.GetProductColors(Model.ProductID);
                            if (HaveSize.Contains("block"))
                            {
                                if (Sizes.Count == 0)
                                {
                                    HaveSize = "none";
                                }
                            }
                            else if (IsColor.Contains("block"))
                            {
                                if (Colors.Count == 0)
                                {
                                    IsColor = "none";
                                }
                            }
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="modal_size mb-15" id="divSizes" style="display:@HaveSize">
                                    <h2>size</h2>
                                    <ul>
                                        @foreach (var size in Sizes)
                                        {
                                            var sizeO = size.Size;
                                            if (sizeO.IndexOf(' ') > 0)
                                            {
                                                sizeO = sizeO.Split(' ')[0];
                                            }
                                            <li><a id="linkSize_@size.SizeID" title="@size.Size" class="PSizes" href="javascript:void(0);" onclick="AddSizes(@size.SizeID,@sizeO);">@sizeO</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6" id="ColorsBySize" style="display:none">
                                <div class="modal_size mb-15">
                                    <h2 id="colorsHeading">Avialable Colors</h2>
                                    <ul id="colorsBySizeContainer"></ul>
                                </div>
                            </div>

                            <div class="col-md-6" style="display:@IsColor">
                                <div class="modal_size mb-15">
                                    <h2 id="colorsHeading">Avialable Colors</h2>
                                    <ul id="colorsBySizeContainer">
                                        @foreach (var color in Colors)
                                        {
                                            <li id='linkColor_color_@color.ColorID'>
                                                <a class='PColors' title='@color.ColorName' style='background-color:@color.ColorCode' data-ColorID='@color.ColorID' data-actualcolor='@color.ColorCode' id='color_@color.ColorID' href='javascript:void(0);' onclick='AddColors(this);'>&nbsp</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="product_stock" style="visibility:@showCart">
                            <label>Quantity</label>
                            <input min="1" max="100" step="2" value="1" id="txtProductQty" type="number">
                        </div>
                        <div class="product_action_link">
                            <ul>
                                <li class="product_cart" style="visibility:@showCart"><a href="javascript:void(0);" class="AddToCartButton" onclick="AddToCart(@Model.ProductID,@Model.Price,-1);" title="Add to Cart">Add to Cart</a></li>
                                <li class="add_links"><a href="#" title="Add to Wishlist"><i class="ion-ios-heart-outline"></i> Add to wishlist</a></li>
                                <li class="add_links" style="display:none"><a href="#" title="Add to Compare"><i class="ion-loop"></i> Add to compare</a></li>
                            </ul>
                        </div>
                        <div class="social_sharing">
                            <span>Share</span>
                            <ul>
                                <li><a href="#" class="bg-facebook" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i> Share</a></li>
                                <li><a href="#" class="bg-Tweet" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i> Tweet</a></li>
                                <li><a href="#" class="bg-google" data-toggle="tooltip" title="google-plus"><i class="fa fa-google-plus"></i> Google+</a></li>
                                <li><a href="#" class="bg-pinterest" data-toggle="tooltip" title="pinterest"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--single product wrapper end-->
<!--product info start-->
<div class="product_d_info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">More info</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_d_table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="first_child">Store Name</td>
                                            <td>@Model.StoreName</td>
                                        </tr>
                                        <tr>
                                            <td class="first_child">Address</td>
                                            <td>@Model.StoreAddress</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p></p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="product_info_inner">
                                <div class="product_ratting mb-10">
                                    <div id="ratingstarProductDetail_@Model.ProductID"></div>
                                </div>
                                <div class="product_demo">
                                    <strong>demo</strong>
                                    <p>That's OK!</p>
                                </div>
                            </div>
                            <div class="product_review_form">
                                @Html.Partial("_RateProduct", new PreShop.BL.TblProdcutRating())
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->

<script>
    $(function () {
        $("#ratingstarsProductDetail_@Model.ProductID").rateYo({
            rating: @Model.Rating > 0 ? @Model.Rating : 0,
            starWidth: "13px",
            onSet: function (rating, rateYoInstance) {
                $("#ProductId").val(@Model.ProductID);
                $("#Rating").val(rating);
                    OpenPopUp("RatingPopup");
                }
        });

        $("#ratingstarProductDetail_@Model.ProductID").rateYo({
            rating: @Model.Rating > 0 ? @Model.Rating : 0,
            starWidth: "13px",
            onSet: function (rating, rateYoInstance) {
                $("#ProductId").val(@Model.ProductID);
                $("#Rating").val(rating);
                    OpenPopUp("RatingPopup");
                }
        });

        $('.product_navactive').owlCarousel({
            autoplay: true,
            loop: true,
            nav: false,
            autoplay: false,
            autoplayTimeout: 8000,
            items: 3,
            dots: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                },
                250: {
                    items: 2,
                },
                480: {
                    items: 3,
                },

            }
        });


        $('.product_navactive a').on('click', function (e) {
            e.preventDefault();

            var $href = $(this).attr('href');

            $('.product_navactive a').removeClass('active');
            $(this).addClass('active');

            $('.product-details-large .tab-pane').removeClass('active show');
            $('.product-details-large ' + $href).addClass('active show');

        })

    });
</script>
