@model PreShop.BL.TblProdcutRating

@using (Html.BeginForm("UpdateRating", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ProductId")
    @Html.Hidden("Rating")
    <div class="row">
        <div class="col-sm-12">
            <h2>Add a review </h2>
            <p>Your email address will not be published. Required fields are marked </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <label>Name</label>
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name, null, new { style = "color:red" })
        </div>
        <div class="col-lg-6 col-md-6">
            <label>Email </label>
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email, null, new { style = "color:red" })
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label>Your review </label>
            @Html.TextAreaFor(m => m.Comment, new { Rows = "4", style = "resize:none" })
            @Html.ValidationMessageFor(m => m.Comment, null, new { style = "color:red" })
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" style="position:relative!important">Submit</button>
        </div>
    </div>
}

