@model PreShop.FrontEnd.Helpers.StoreHelper.StoreHelper

@{
    var store = Model.GetStores();

    if (store != null)
    {
        foreach (var stores in store)
        {
            <div class="col-lg-3">

                <div class="single_product agile-products">

                    <div class="product_thumb">
                        <a href='@Url.Action("Index","Products",new {str=Helper.Security.Encrypt(stores.StoreID.ToString()) })'>
                            <img style="height: 250px!important;width: 248px!important;" src='@Helper.SpartansHelper.GetHostName()@stores.Logo' alt="" onerror="this.src='/assets/img/brand/bra2.png'" alt="">
                        </a>
                        <div class="btn_quickview" style="display:none">
                            <a href="#" data-toggle="modal" onclick="GetProductDetail(63,'_ProductDetailPopUp')" data-target="#modal_box" title="Quick View"><i class="ion-ios-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_content">
                        <div class="product_description">
                            <p style="font-size:16px;">
                                <a style="color:brown!important" title="View all products of this store" href='@Url.Action("Index","Products",new {str=Helper.Security.Encrypt(stores.StoreID.ToString()) })'>
                                    @stores.StoreName
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                @*<div class="single_brand">
                        <a href='@Url.Action("Index","Products",new {str=Helper.Security.Encrypt(stores.StoreID.ToString()) })'>
                            <img src='@Helper.SpartansHelper.GetHostName()@stores.Logo' alt="" onerror="this.src='/assets/img/brand/bra2.png'" style="height: 85px!important;">
                            <h3 style="text-align:center!important;color: #2971f5!important;font-size:18px!important">@stores.StoreName</h3>
                        </a>
                    </div>*@
            </div>
        }
    }
}

